{% extends 'base.html' %}

{% block content %}
<h2>My Gift Cards</h2>
<div class="row">
    {% for gift_card in gift_cards %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ gift_card.retailer }}</h5>
                    <p class="card-text">Value: ${{ gift_card.value }}</p>
                    <p class="card-text">Expires: {{ gift_card.expiration_date }}</p>
                    <p class="card-text">Status: {{ gift_card.get_verification_status_display }}</p>
                </div>
            </div>
        </div>
    {% empty %}
        <p>You don't have any gift cards.</p>
    {% endfor %}
</div>
{% endblock %}